.page {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000000;
    color: #FFFFFF;
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
