.card__like {
  background-image: url(../../../images/Vectorheart.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  min-width: 22px;
  height: 19px;
  border: none;
  align-self: center;
  background-color: transparent;
  padding: 0;
}

.card__like:hover {
  opacity: .5;
}

.card__like:active {
  background-image: url(../../../images/Unionheart_black.svg);
}
